:root {
  --main-bg: hsl(0, 0%, 90%);
  --keypad-bg: hsl(0, 5%, 81%);
  --screen-bg: hsl(0, 0%, 93%);
  --key-bg: hsl(185, 42%, 37%);
  --key-shadow: hsl(185, 58%, 25%);
  --key-bg-danger: hsl(25, 98%, 40%);
  --key-shadow-danger: hsl(25, 99%, 27%);
  --key-bg-secondary: hsl(45, 7%, 89%);
  --key-shadow-secondary: hsl(35, 11%, 61%);
  --switch-bar-padding-left: 19px;
  --switch-bar-width: calc(50px - var(--switch-bar-padding-left));
  --switch-bar-text-color: hsl(198, 20%, 13%);
}
