@value colors: "../../styles/colors.module.css";
@value colorBlack from colors;

.wrapper {
    width: 26px;
    height: 26px;
    border: 3px solid colorBlack;
    border-radius: 50%;
    box-shadow: 0 3px 0 0 colorBlack;
}