@value colors: "../../styles/colors.module.css";
@value colorBlack, colorWhite from colors;
@value headings: "../../styles/headings.module.css";
@value headingXS, headingS, headingMM, headingL from headings;
@value breakpoints: "../../styles/breakpoints.module.css";
@value tablet, tabletMini, mobile from breakpoints;

.wrapper {
    position: relative;
    border-radius: 20px;
    border: 3px solid colorBlack;
    background-color: colorWhite;
    box-shadow: 0px 10px 0px 0px colorBlack;
    padding: 43px 24px 14px 26px;
    margin-top: 195px;
    flex: 1;
    max-width: 147px;
    @media (max-width: tablet) {
        position: absolute;
        margin-top: 0;
        max-width: 278px;
        width: calc(50% - 47px);
        padding: 14px 44px 15px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        top: -132px;
    }
    @media (max-width: tabletMini) {
        flex-direction: column;
        width: calc(50% - 37px);
        padding: 10px 38px 9px 36px;
    }
    @media (max-width: mobile) {
        width: calc(50% - 27px);
        padding-left: 0;
        padding-right: 0;
    }
}

.name {
    text-align: center;
    color: colorBlack;
    composes: headingS;
    text-transform: uppercase;
    @media (max-width: tabletMini) {
        composes: headingXS;
    }
}

.score {
    text-align: center;
    color: colorBlack;
    composes: headingL;
    @media (max-width: tabletMini) {
        composes: headingMM;
    }
}

.face {
    position: absolute;
    top: -27px;
    left: 50%;
    transform: translateX(-50%);
    @media (max-width: tablet) {
        top: 50%;
        transform: translateY(-50%);
    }
}