@value colors: "../../styles/colors.module.css";
@value colorBlack, colorWhite from colors;
@value headings: "../../styles/headings.module.css";
@value headingS, headingL from headings;

.wrapper {
    position: relative;
    border-radius: 20px;
    border: 3px solid colorBlack;
    background-color: colorWhite;
    box-shadow: 0px 10px 0px 0px colorBlack;
    padding: 46px 27px 17px 29px;
    margin-top: 195px;
}

.name {
    text-align: center;
    color: colorBlack;
    composes: headingS;
}

.score {
    text-align: center;
    color: colorBlack;
    composes: headingL;
}

.face {
    position: absolute;
    top: -27px;
    left: 50%;
    transform: translateX(-50%);
}