:root {
  --purple: #ad1fea;
  --blue-100: #62bcfa;
  --blue-200: #4661e6;
  --blue-300: #353f68;
  --white: #fff;
  --gray-100: #f2f4ff;
  --gray-200: #f7f8fd;
  --gray-300: #3a4374;
  --gray-400: #647196;
  --orange: #f49f85;
}
