@value colors: "../../styles/colors.module.css";
@value colorWhite, colorBlack from colors;
@value headings: "../../styles/headings.module.css";
@value headingL, headingXS from headings;
@value breakpoints: "../../styles/breakpoints.module.css";
@value tablet, mobile from breakpoints;

.wrapper {
    width: 197px;
    height: 165px;
    position: absolute;
    bottom: 48px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 41px 0 26px;
    @media (max-width: mobile) {    
        bottom: 24px;
    }
}

.wrapper.isPlayer1 {
    background-image: url('/images/turn-background-red.svg');
}

.wrapper.isPlayer2 {
    background-image: url('/images/turn-background-yellow.svg');
}

.name {
    text-align: center;
    composes: headingXS;
    text-transform: uppercase;
}

.name.isPlayer1 {
    color: colorWhite;
}

.name.isPlayer2 {
    color: colorBlack;
}

.secondWrapper {
    display: flex;
    align-items: end;
    composes: headingL;
}

.secondWrapper.isPlayer1 {
    color: colorWhite;
}

.secondWrapper.isPlayer2 {
    color: colorBlack;
}