@value colors: "../../styles/colors.module.css";
@value colorDarkPurple, colorPink, colorYellow from colors;

.wrapper {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: colorDarkPurple;
    height: 200px;
    border-radius: 60px 60px 0 0;
    transition: background-color 0.3s;
}

.player1IsWin {
    background-color: colorPink;
}

.player2IsWin {
    background-color: colorYellow;
}