@value colors: "../../styles/colors.module.css";
@value colorWhite, colorPink, colorYellow from colors;
@value breakpoints: "../../styles/breakpoints.module.css";
@value tablet, tabletMini, mobile from breakpoints;

.wrapper {
    width: 70px;
    aspect-ratio: 70 / 75;
    display: flex;
    justify-content: center;    
    align-items: center;
    background-size: cover;
    @media (max-width: tabletMini) {
        width: 11.08%;
    }
}

.wrapper.isPlayer1 {
    background-image: url('/images/counter-red-large.svg');
}

.wrapper.isPlayer2 {
    background-image: url('/images/counter-yellow-large.svg');
}

.outerCircle {
    width: 32px;
    aspect-ratio: 1 / 1;
    background-color: colorWhite;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    @media (max-width: tabletMini) {
        width: 45.71%;
    }
}

.innerCircle {
    aspect-ratio: 1 / 1;
    width: 20px;
    border-radius: 50%;
    @media (max-width: tabletMini) {
        width: 50%;
    }
}

.innerCirclePlayer1 {
    background-color: colorPink;
}

.innerCirclePlayer2 {
    background-color: colorYellow;
}