.wrapper {
    display: flex;
    justify-content: center;
    margin-bottom: 51px;
}

.inner {
    max-width: 638px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}