.wrapper {
    position: relative;
    z-index: 1;
    width: 100%;
    height: 100%;
    max-width: 632px;
    aspect-ratio: 632 / 594;
}

.bgBack {
    width: 100%;
    height: 100%;
    background-image: url('/images/board-layer-black-large.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top center;
    position: absolute;
}

.bgFront {
    width: 100%;
    height: 100%;
    background-image: url('/images/board-layer-white-large.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top center;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 16px 16px;
    padding: 17px 17px 66px 16px;

}

.pawn {
    position: absolute;
    top: -20px;
    transform: translateY(0);
    will-change: transform;
}