@value colors: "../../styles/colors.module.css";
@value colorBlack, colorWhite from colors;
@value headings: "../../styles/headings.module.css";
@value headingXS, headingL from headings;
@value breakpoints: "../../styles/breakpoints.module.css";
@value tablet, mobile from breakpoints;

.wrapper {
    position: absolute;
    bottom: 48px;
    left: 50%;
    transform: translateX(-50%);
    width: 291px;
    height: 166px;
    border-radius: 20px;
    border: 3px solid colorBlack;
    background-color: colorWhite;
    box-shadow: 0px 10px 0px 0px colorBlack;
    padding-top: 17px;
    display: flex;
    flex-direction: column;
    align-items: center;
    @media (max-width: tablet) {
        bottom: 48px;
    }
    @media (max-width: mobile) {    
        bottom: 24px;
    }
}

.name {
    color: colorBlack;
    composes: headingXS;
    text-transform: uppercase;
}

.wins {
    color: colorBlack;
    composes: headingL;
    text-transform: uppercase;
    margin-top: -4px;
}