@value colors: "../../styles/colors.module.css";
@value colorPurple, colorDarkPurple, colorBlack from colors;
@value breakpoints: "../../styles/breakpoints.module.css";
@value mobile from breakpoints;

.wrapper {
    background-color: colorDarkPurple;
    display: flex;
    justify-content: center;
    align-items: start;
    padding-top: 182px;
    min-height: 100vh;
    @media (max-width: mobile) {
        padding-top: 200px;
        background-color: colorPurple;
    }
}

.section {
    background-color: colorPurple;
    border: 3px solid colorBlack;
    box-shadow: 0 10px 0 0 colorBlack;
    border-radius: 40px;
    padding: 70px 40px 60px 40px;
    @media (max-width: mobile) {
        border: 0;
        box-shadow: none;
        border-radius: 0;
        background-color: transparent;
        padding: 0;
    }
}

.buttonGroup {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.dotGroupWrapper {
    display: flex;
    justify-content: center;
    margin-bottom: 79px;
}