@value colors: "../../styles/colors.module.css";
@value colorPurple, colorBlack, colorWhite, colorPink from colors;
@value headings: "../../styles/headings.module.css";
@value headingL, headingS, headingXS from headings;

.wrapper {
    background-color: colorPurple;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: start;
    padding-top: 182px;
}

.content {
    border-radius: 40px;
    border: 3px solid colorBlack;
    background-color: colorWhite;
    box-shadow: 0px 10px 0px 0px colorBlack;
    padding: 30px 34px 54px 34px;
    max-width: 480px;
    position: relative;
}

.isFirstInner {
    margin-bottom: 32px;
}

.title {
    color: colorBlack;
    text-align: center;
    text-transform: uppercase;
    composes: headingL;
    margin-bottom: 29px;
}

.paragraph {
    color: colorBlack;
    opacity: 0.6;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
}

.listContainer {
    display: flex;
    flex-direction: column;
    gap: 11px;
}

.listItem {
    display: flex;
    gap: 16px;
}

.backButton {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: colorPink;
    border: 2px solid colorBlack;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    position: absolute;
    bottom: -32px;
    left: calc(50% - 30px);
    transform: translateY(0);
    box-shadow: 0px 5px 0px 0px colorBlack;
    cursor: pointer;
    transition: transform 0.3s, box-shadow 0.3s;
}

.backButton:hover {
    transform: translateY(4px);
    box-shadow: 0px 1px 0px 0px colorBlack;
}