@value colors: "../../styles/colors.module.css";
@value colorBlack, colorWhite from colors;

.wrapper {
    background-color: colorWhite;
    display: flex;
    justify-content: center;
    align-items: center;
    color: colorBlack;
    text-transform: uppercase;
}