@value colors: "../../styles/colors.module.css";
@value colorBlack, colorWhite from colors;

.wrapper {
    background-color: colorWhite;
    text-align: left;
    text-transform: uppercase;
    padding-left: 20px;
}