@value colors: "../../styles/colors.module.css";
@value colorYellow, colorBlack from colors;

.wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: colorYellow;
    padding-left: 20px;
    padding-right: 17px;
}

.text {
    color: colorBlack;
    text-transform: uppercase;
}