:root {
    --mobile-y-offset: 8px;
}

a {
    text-decoration: none;
}

.x-0 {
    /* 17 / 632 */
    left: 2.69%;
}

.x-1 {
    /* 105 / 632 */
    left: 16.61%;
}

.x-2 {
    /* 193 / 632 */
    left: 30.57%;
}

.x-3 {
    /* 281 / 632 */
    left: 44.43%;
}

.x-4 {
    /* 369 / 632 */
    left: 58.38%;
}

.x-5 {
    /* 457 / 632 */
    left: 72.29%;
}

.x-6 {
    /* 545 / 632 */
    left: 86.14%;
}

@keyframes y-0-animation {
    0% {
        top: 0%;
    }
    20% {
        top: calc(100% * 36 / 594); /* 36px */
    }
    40% {
        top: calc(100% * 18 / 594); /* 18px */
    }
    60% {
        top: calc(100% * 36 / 594); /* 36px */
    }
    80% {
        top: calc(100% * 27 / 594); /* 27px */
    }
    100% {
        top: calc(100% * 36 / 594); /* 36px */
    }
}

@keyframes y-0-animation-mobile {
    0% {
        top: 0%;
    }
    20% {
        top: calc(100% * 36 / 594 + var(--mobile-y-offset)); /* 36px */
    }
    40% {
        top: calc(100% * 18 / 594 + var(--mobile-y-offset)); /* 18px */
    }
    60% {
        top: calc(100% * 36 / 594 + var(--mobile-y-offset)); /* 36px */
    }
    80% {
        top: calc(100% * 27 / 594 + var(--mobile-y-offset)); /* 27px */
    }
    100% {
        top: calc(100% * 36 / 594 + var(--mobile-y-offset)); /* 36px */
    }

}

.y-0 {
    animation: y-0-animation 0.5s cubic-bezier(.25,.75,.5,1) both;
    @media (max-width: 500px) {
        animation: y-0-animation-mobile 0.5s cubic-bezier(.25,.75,.5,1) both;
    }
}

@keyframes y-1-animation {
    0% {
        top: 0%;
    }
    20% {
        top: calc(100% * 124 / 594); /* 124px */
    }
    30% {
        top: calc(100% * 62 / 594); /* 62px */
    }
    40% {
        top: calc(100% * 124 / 594); /* 124px */
    }
    50% {
        top: calc(100% * 93 / 594); /* 93px */
    }
    60% {
        top: calc(100% * 124 / 594); /* 124px */
    }
    70% {
        top: calc(100% * 109 / 594); /* 109px */
    }
    80% {
        top: calc(100% * 124 / 594); /* 124px */
    }
    90% {
        top: calc(100% * 117 / 594); /* 117px */
    }
    100% {
        top: calc(100% * 124 / 594); /* 124px */
    }
}

@keyframes y-1-animation-mobile {
    0% {
        top: 0%;
    }
    20% {
        top: calc(100% * 124 / 594 + var(--mobile-y-offset)); /* 124px */
    }
    30% {
        top: calc(100% * 62 / 594 + var(--mobile-y-offset)); /* 62px */
    }
    40% {
        top: calc(100% * 124 / 594 + var(--mobile-y-offset)); /* 124px */
    }
    50% {
        top: calc(100% * 93 / 594 + var(--mobile-y-offset)); /* 93px */
    }
    60% {
        top: calc(100% * 124 / 594 + var(--mobile-y-offset)); /* 124px */
    }
    70% {
        top: calc(100% * 109 / 594 + var(--mobile-y-offset)); /* 109px */
    }
    80% {
        top: calc(100% * 124 / 594 + var(--mobile-y-offset)); /* 124px */
    }
    90% {
        top: calc(100% * 117 / 594 + var(--mobile-y-offset)); /* 117px */
    }
    100% {
        top: calc(100% * 124 / 594 + var(--mobile-y-offset)); /* 124px */
    }

}

.y-1 {
    animation: y-1-animation 0.6s cubic-bezier(.25,.75,.5,1) both;
    @media (max-width: 500px) {
        animation: y-1-animation-mobile 0.6s cubic-bezier(.25,.75,.5,1) both;
    }
}

@keyframes y-2-animation {
    0% {
        top: 0%;
    }
    20% {
        top: calc(100% * 212 / 594); /* 212px */
    }
    30% {
        top: calc(100% * 106 / 594); /* 106px */
    }
    40% {
        top: calc(100% * 212 / 594); /* 212px */
    }
    50% {
        top: calc(100% * 159 / 594); /* 159px */
    }
    60% {
        top: calc(100% * 212 / 594); /* 212px */
    }
    70% {
        top: calc(100% * 185 / 594); /* 185px */
    }
    80% {
        top: calc(100% * 212 / 594); /* 212px */
    }
    90% {
        top: calc(100% * 198 / 594); /* 198px */
    }
    100% {
        top: calc(100% * 212 / 594); /* 212px */
    }
}

@keyframes y-2-animation-mobile {
    0% {
        top: 0%;
    }
    20% {
        top: calc(100% * 212 / 594 + var(--mobile-y-offset)); /* 212px */
    }
    30% {
        top: calc(100% * 106 / 594 + var(--mobile-y-offset)); /* 106px */
    }
    40% {
        top: calc(100% * 212 / 594 + var(--mobile-y-offset)); /* 212px */
    }
    50% {
        top: calc(100% * 159 / 594 + var(--mobile-y-offset)); /* 159px */
    }
    60% {
        top: calc(100% * 212 / 594 + var(--mobile-y-offset)); /* 212px */
    }
    70% {
        top: calc(100% * 185 / 594 + var(--mobile-y-offset)); /* 185px */
    }
    80% {
        top: calc(100% * 212 / 594 + var(--mobile-y-offset)); /* 212px */
    }
    90% {
        top: calc(100% * 198 / 594 + var(--mobile-y-offset)); /* 198px */
    }
    100% {
        top: calc(100% * 212 / 594 + var(--mobile-y-offset)); /* 212px */
    }

}

.y-2 {
    animation: y-2-animation 0.7s cubic-bezier(.25,.75,.5,1) both;
    @media (max-width: 500px) {
        animation: y-2-animation-mobile 0.7s cubic-bezier(.25,.75,.5,1) both;
    }
}
@keyframes y-3-animation {
    0% {
        top: 0%;
    }
    20% {
        top: calc(100% * 300 / 594); /* 300px */
    }
    30% {
        top: calc(100% * 150 / 594); /* 150px */
    }
    40% {
        top: calc(100% * 300 / 594); /* 300px */
    }
    50% {
        top: calc(100% * 225 / 594); /* 225px */
    }
    60% {
        top: calc(100% * 300 / 594); /* 300px */
    }
    70% {
        top: calc(100% * 262 / 594); /* 262px */
    }
    80% {
        top: calc(100% * 300 / 594); /* 300px */
    }
    90% {
        top: calc(100% * 281 / 594); /* 281px */
    }
    100% {
        top: calc(100% * 300 / 594); /* 300px */
    }
}

@keyframes y-3-animation-mobile {
    0% {
        top: 0%;
    }
    20% {
        top: calc(100% * 300 / 594 + var(--mobile-y-offset)); /* 300px */
    }
    30% {
        top: calc(100% * 150 / 594 + var(--mobile-y-offset)); /* 150px */
    }
    40% {
        top: calc(100% * 300 / 594 + var(--mobile-y-offset)); /* 300px */
    }
    50% {
        top: calc(100% * 225 / 594 + var(--mobile-y-offset)); /* 225px */
    }
    60% {
        top: calc(100% * 300 / 594 + var(--mobile-y-offset)); /* 300px */
    }
    70% {
        top: calc(100% * 262 / 594 + var(--mobile-y-offset)); /* 262px */
    }
    80% {
        top: calc(100% * 300 / 594 + var(--mobile-y-offset)); /* 300px */
    }
    90% {
        top: calc(100% * 281 / 594 + var(--mobile-y-offset)); /* 281px */
    }
    100% {
        top: calc(100% * 300 / 594 + var(--mobile-y-offset)); /* 300px */
    }
}

.y-3 {
    animation: y-3-animation 0.8s cubic-bezier(.25,.75,.5,1) both;
    @media (max-width: 500px) {
        animation: y-3-animation-mobile 0.8s cubic-bezier(.25,.75,.5,1) both;
    }
}

@keyframes y-4-animation {
    0% {
        top: 0%;
    }
    20% {
        top: calc(100% * 388 / 594); /* 388px */
    }
    30% {
        top: calc(100% * 194 / 594); /* 194px */
    }
    40% {
        top: calc(100% * 388 / 594); /* 388px */
    }
    50% {
        top: calc(100% * 291 / 594); /* 291px */
    }
    60% {
        top: calc(100% * 388 / 594); /* 388px */
    }
    70% {
        top: calc(100% * 339 / 594); /* 339px */
    }
    80% {
        top: calc(100% * 388 / 594); /* 388px */
    }
    90% {
        top: calc(100% * 364 / 594); /* 364px */
    }
    100% {
        top: calc(100% * 388 / 594); /* 388px */
    }
}

@keyframes y-4-animation-mobile {
    0% {
        top: 0%;
    }
    20% {
        top: calc(100% * 388 / 594 + var(--mobile-y-offset)); /* 388px */
    }
    30% {
        top: calc(100% * 194 / 594 + var(--mobile-y-offset)); /* 194px */
    }
    40% {
        top: calc(100% * 388 / 594 + var(--mobile-y-offset)); /* 388px */
    }
    50% {
        top: calc(100% * 291 / 594 + var(--mobile-y-offset)); /* 291px */
    }
    60% {
        top: calc(100% * 388 / 594 + var(--mobile-y-offset)); /* 388px */
    }
    70% {
        top: calc(100% * 339 / 594 + var(--mobile-y-offset)); /* 339px */
    }
    80% {
        top: calc(100% * 388 / 594 + var(--mobile-y-offset)); /* 388px */
    }
    90% {
        top: calc(100% * 364 / 594 + var(--mobile-y-offset)); /* 364px */
    }
    100% {
        top: calc(100% * 388 / 594 + var(--mobile-y-offset)); /* 388px */
    }

}

.y-4 {
    animation: y-4-animation 0.9s cubic-bezier(.25,.75,.5,1) both;
    @media (max-width: 500px) {
        animation: y-4-animation-mobile 0.9s cubic-bezier(.25,.75,.5,1) both;
    }
}

@keyframes y-5-animation {
    0% {
        top: 0%;
    }
    20% {
        top: calc(100% * 476 / 594); /* 476px */
    }
    30% {
        top: calc(100% * 238 / 594); /* 238px */
    }
    40% {
        top: calc(100% * 476 / 594); /* 476px */
    }
    50% {
        top: calc(100% * 357 / 594); /* 357px */
    }
    60% {
        top: calc(100% * 476 / 594); /* 476px */
    }
    70% {
        top: calc(100% * 416 / 594); /* 416px */
    }
    80% {
        top: calc(100% * 476 / 594); /* 476px */
    }
    90% {
        top: calc(100% * 456 / 594); /* 456px */
    }
    100% {
        top: calc(100% * 476 / 594); /* 476px */
    }
}

@keyframes y-5-animation-mobile {
    0% {
        top: 0%;
    }
    20% {
        top: calc(100% * 476 / 594 + var(--mobile-y-offset)); /* 476px */
    }
    30% {
        top: calc(100% * 238 / 594 + var(--mobile-y-offset)); /* 238px */
    }
    40% {
        top: calc(100% * 476 / 594 + var(--mobile-y-offset)); /* 476px */
    }
    50% {
        top: calc(100% * 357 / 594 + var(--mobile-y-offset)); /* 357px */
    }
    60% {
        top: calc(100% * 476 / 594 + var(--mobile-y-offset)); /* 476px */
    }
    70% {
        top: calc(100% * 416 / 594 + var(--mobile-y-offset)); /* 416px */
    }
    80% {
        top: calc(100% * 476 / 594 + var(--mobile-y-offset)); /* 476px */
    }
    90% {
        top: calc(100% * 456 / 594 + var(--mobile-y-offset)); /* 456px */
    }
    100% {
        top: calc(100% * 476 / 594 + var(--mobile-y-offset)); /* 476px */
    }

}

.y-5 {
    animation: y-5-animation 1s cubic-bezier(.25,.75,.5,1) both;
    @media (max-width: 500px) {
        animation: y-5-animation-mobile 1s cubic-bezier(.25,.75,.5,1) both;
    }
}