@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: 'Nunito Sans', sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  --dark-mode-dark-blue: hsl(209, 23%, 22%);
  --dark-mode-very-dark-blue: hsl(207, 26%, 17%);
  --light-mode-very-dark-blue: hsl(200, 15%, 8%);
  --light-mode-dark-gray: hsl(0, 0%, 52%);
  --light-mode-very-light-gray: hsl(0, 0%, 98%);
  --common-white: hsl(0, 0%, 100%);

}
