@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --dark-mode-dark-blue: hsl(209, 23%, 22%);
  --dark-mode-very-dark-blue: hsl(207, 26%, 17%);
  --light-mode-very-dark-blue: hsl(200, 15%, 8%);
  --light-mode-dark-gray: hsl(0, 0%, 52%);
  --light-mode-very-light-gray: hsl(0, 0%, 98%);
  --common-white: hsl(0, 0%, 100%);

  font-family: 'Nunito Sans', sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  background-color: var(--light-mode-very-light-gray);
}

html, body {
  @apply w-full h-full;
}

.home-select {
  @apply px-5 py-4 bg-white shadow rounded appearance-none active:outline-none focus:outline-none w-52 bg-no-repeat;
  background-image: url(/src/assets/icons/angle-down-solid.svg);
  background-size: 14px;
  background-position: right 1.25rem center;
}

.flag-detail__img {
  @apply self-baseline;
  aspect-ratio: 3 / 2;
}